.cards-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 1240px;
    text-align: center;
    padding: 0;
    bottom: 50px;
    z-index: 10;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px 35px;
    width: 96%;

}

.card-image {
    width: 100%;
    height: 312px;
    object-fit: cover;
    }

.card {
    height: 500px;
    background-color: #202020;
    color: white;
    width: 100%;
  
}

.load-btn {
    background-color: white;
    border: black 4px;
}

.date {
    font-size: 1em;
    color: #006ba0;
    line-height: 1;
    margin: 0 0 .2em;
    font-family: OpenSans,sans-serif;
    font-weight: 700;
}
.title {
    font-weight: 400;
    font-size: 1.8em;
    line-height: 1.8rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin: 20px 0 0 19px;
}